<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Joel Ebers</h2>
                    <h3 class="section-subheading text-muted">Mechanical Engineer</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/profile.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <p class="text-muted">I'm a Mechanical Engineer with 3+ years of experience in the automotive industry, dedicated to R&D and NPI efforts. 
                                                          I graduated from the Colorado School of Mines in Golden, CO with a B.S. in Mechanical Engineering. 
                                                          Some of my personal interests include snowboarding, climbing, and backpacking. As demonstrated by this portfolio, I also enjoy working on personal projects, including restoring a 1985 BMW motorcycle and building a laser cutter.</p>
                                    <p class="text-muted">Contact me at joelebers1 AT gmail.com</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
