 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <h3 class="section-subheading text-muted">{{ post.skills }}</h3>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img1 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description1 }}</p>
                            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" onerror="this.style.display='none';"> 
                            <p>{{ post.description2 }}</p>
                            <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered" onerror="this.style.display='none';"> 
                            <p>{{ post.description3 }}</p>
                            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description4 }}</p>
                            <img src="img/portfolio/{{ post.img5 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description5 }}</p>
                            <img src="img/portfolio/{{ post.img6 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description6 }}</p>
                            <img src="img/portfolio/{{ post.img7 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description7 }}</p>
                            <img src="img/portfolio/{{ post.img8 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description8 }}</p>
                            <img src="img/portfolio/{{ post.img9 }}" class="img-responsive img-centered" onerror="this.style.display='none';">
                            <p>{{ post.description9 }}</p>
                            <img src="img/portfolio/{{ post.img10 }}" class="img-responsive img-centered"  onerror="this.style.display='none';">
                            <p>{{ post.description10 }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
